node-red.json
[{"id":"a8789606.493708","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"96cefa34.258cb8","type":"ui_form","z":"a8789606.493708","name":"","label":"","group":"8426adc8.da962","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":70,"y":120,"wires":[["63a51ee3.493b8","fca2c532.fd9168"]]},{"id":"63a51ee3.493b8","type":"debug","z":"a8789606.493708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":120,"wires":[]},{"id":"fca2c532.fd9168","type":"function","z":"a8789606.493708","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":160,"wires":[["a436ad5c.c672e"]]},{"id":"a436ad5c.c672e","type":"cloudant out","z":"a8789606.493708","name":"cloudant","cloudant":"","database":"sample","service":"node-red-yvydn-2020--cloudant-1597403148828-47304","payonly":true,"operation":"insert","x":360,"y":160,"wires":[]},{"id":"77443625.56db68","type":"ui_form","z":"a8789606.493708","name":"","label":"","group":"bb3f3495.eb4658","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":260,"wires":[["8be4753.2284388"]]},{"id":"8be4753.2284388","type":"function","z":"a8789606.493708","name":"","func":"\nglobal.set('email',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":260,"wires":[["f34e1881.2e8828"]]},{"id":"f34e1881.2e8828","type":"function","z":"a8789606.493708","name":"","func":"var email=global.get(\"email\");\nmsg.payload=\"email:\"+email;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["1a93ff02.d84071"]]},{"id":"1a93ff02.d84071","type":"cloudant in","z":"a8789606.493708","name":"","cloudant":"","database":"sample","service":"node-red-yvydn-2020--cloudant-1597403148828-47304","search":"_idx_","design":"user","index":"user","x":480,"y":260,"wires":[["d9c59a0f.eaf2b8"]]},{"id":"6c5f7ff.333918","type":"debug","z":"a8789606.493708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"d9c59a0f.eaf2b8","type":"function","z":"a8789606.493708","name":"","func":"if(msg.payload[0].Password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":260,"wires":[["6c5f7ff.333918","c60e5772.af6ed8"]]},{"id":"c60e5772.af6ed8","type":"ui_text","z":"a8789606.493708","group":"bb3f3495.eb4658","order":1,"width":0,"height":0,"name":"","label":"status:","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":260,"wires":[]},{"id":"5850cda2.673744","type":"ui_form","z":"a8789606.493708","name":"","label":"","group":"5c34f816.394fa8","order":2,"width":0,"height":0,"options":[{"label":"User input:","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":440,"wires":[["c53c6779.120ae8"]]},{"id":"c53c6779.120ae8","type":"function","z":"a8789606.493708","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":440,"wires":[["273c8009.3a9f"]]},{"id":"273c8009.3a9f","type":"watson-conversation-v1","z":"a8789606.493708","name":"","workspaceid":"74f02353-60ad-4824-9dde-b07af8a656a3","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/7984698e-6cf3-4e25-850a-581bac3441c6","timeout":"","optout-learning":false,"x":340,"y":440,"wires":[["4ebd3d97.824454","8fa8c4f0.12f2c8"]]},{"id":"4ebd3d97.824454","type":"debug","z":"a8789606.493708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":480,"wires":[]},{"id":"8fa8c4f0.12f2c8","type":"function","z":"a8789606.493708","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":440,"wires":[["1517e1de.09a7ce","cff8d297.84fc3"]]},{"id":"1517e1de.09a7ce","type":"ui_text","z":"a8789606.493708","group":"5c34f816.394fa8","order":1,"width":"6","height":"5","name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":440,"wires":[]},{"id":"cff8d297.84fc3","type":"ui_audio","z":"a8789606.493708","name":"","group":"5c34f816.394fa8","voice":"","always":"","x":620,"y":480,"wires":[]},{"id":"8426adc8.da962","type":"ui_group","z":"","name":"reg form","tab":"44860ffc.f139","order":1,"disp":true,"width":"6","collapse":false},{"id":"bb3f3495.eb4658","type":"ui_group","z":"","name":"login form","tab":"c5bc0cfb.01add","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c34f816.394fa8","type":"ui_group","z":"","name":"bot","tab":"e133d49b.6a62b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"44860ffc.f139","type":"ui_tab","z":"","name":"registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"c5bc0cfb.01add","type":"ui_tab","z":"","name":"login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e133d49b.6a62b8","type":"ui_tab","z":"","name":"customer help","icon":"dashboard","disabled":false,"hidden":false}]